@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,700;1,100;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer base {
    html {
        font-family: 'Chivo Mono', monospace;
    }
  }